**/.DS_Store
.vscode/*
.history/
**/fsh-index.*
**/*.bak.puml
**/*.drawio.bkp
**/package-lock.json
**/fhirpkg.lock.json
**/node_modules
.idea/**
**/.venv


Thumbs.db
**/input-cache
**/output
**/temp
**/template
.index.db
.index.json
**/dependencies
**/extracted
**/.temp
**/fsh-generated

_gencontinuous.*
_updatePublisher.bat

# IG Publisher workflow related scripts and files
**/build-fhir-ig.sh
**/output-ig/
Requirements-fromNarrative.json
